{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALLERY PAGE</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <h2>GALLERY</h2>
    <img src="image/mb.jpg" alt="This is an image">
    <img src="image/hgc.jpg" alt="This is an image">
    <img src="image/jbn.jpg" alt="This is an image">
    <img src="image/dsw.jpg" alt="This is an image">
    <img src="image/da.jpg" alt="This is an image">
    <img src="image/ngv.jpg" alt="This is an image">
    <img src="image/hyd.jpg" alt="This is an image">
    <img src="image/tgd.jpg" alt="This is an image">
    <img src="image/nhf.jpg" alt="This is an image">
    <img src="image/cfs.jpg" alt="This is an image">
    <img src="image/jcv.jpg" alt="This is an image">
    <p>
    <a href="SERVICES .HTML">services page</a>
    </p>
    
</body>
</html>