<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="style.css"
    
</head>
<body>
    <div id="main">
        <div id="hearder-div">
            <h1>MIRIAM WORLD OF APPARTMENTS</h1>
            <P style="text-align: center;">(We offer quality not quantity)</P>
            <div id="menu-div">
                <ul id="menu-items">
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Services</li>
                    <li>Gallery</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <img src="image/cdse.jpg" alt="This is an image">
    <img src="image/ndf.jpg" alt="This is an image">
    <img src="image/mb.jpg" alt="This is an image">
    <img src="image/jbn.jpg" alt="This is an image">
    <img src="image/jcv.jpg" alt="This is an image">
    <img src="image/hyd.jpg" alt="This is an image">
    <img src="image/jhfd.jpg" alt="This is an image">
    <img src="image/hgc.jpg" alt="This is an image">
    <img src="image/bgfc.jpg" alt="This is an image">

    <p>
    <a href="ABOUT US.HTML">about us page</a>
    </p>
    
</body>
</html>