{%  load static %}
!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Yami fast foods </title>
    <a href="home.html">Home</a>
    <link rel="stylesheet" href="design.js">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    
     <h2 id="h2">About Yami fast foods</h2>
    
    
   <div id="mis">
    <h2 >our story:</h2>
    <p>Yami fast foods started in the spring of 2008.</br>
       three friends had a vision:</br>
       to spread happiness by turning an everyday essential into</br>
         acolorful design with quality and creativity and its now operating</br>
         country wide.
          
        </p>
</div>


</div>
<div id="we">
    <h2>our quality</h2>
    <p>our goal is to provide you with the </br>
       best and happeiest products around .</br>
    
       
       
    </p>
</div>
<a href="{% url 'services_page'%}">services</a>
</body>
</html>